<div class="row g-0">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio example1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium architecto aliquam ab nulla quos distinctio nihil unde quibusdam libero consequuntur, accusamus natus. Pariatur, similique. Repudiandae rerum tenetur enim numquam quo.
            </p>
            <li>
                <h1>Estudio example2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium architecto aliquam ab nulla quos distinctio nihil unde quibusdam libero consequuntur, accusamus natus. Pariatur, similique. Repudiandae rerum tenetur enim numquam quo.
            </p>
            <li>
                <h1>Estudio example3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium architecto aliquam ab nulla quos distinctio nihil unde quibusdam libero consequuntur, accusamus natus. Pariatur, similique. Repudiandae rerum tenetur enim numquam quo.
            </p>
        </ul>
    </div>
</div>