<div class="row g-0">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logos/APLogo.png" alt="Logo del curso" id="logoAP" />
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/logos/linkedin.png" /></a>
            <a href=""><img src="../../../assets/logos/facebook.png" /></a>
            <a href=""><img src="../../../assets/logos/instagram.png" /></a>
            <a href=""><img src="../../../assets/logos/twitter.png" /></a>
            <a href=""><img src="../../../assets/logos/github.png" /></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>
        </div>
    </div>
</div>