<div class="row g-0">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>TaskList en Angular</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque quia ipsum officia fugit ab consequatur error quaerat unde eaque cupiditate ex, quidem corporis dignissimos, asperiores laudantium distinctio pariatur debitis!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 imagen">
            <img src="../../../assets/maslogos/tasklist.png" class="img-fluid logo-proyecto"/>
        </div>
    </div>
</div>