<div class="row g-0">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/pfp/falric.png" class="img-fluid" id="pfp" />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} Huamani Salcedo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam eveniet mollitia molestiae iure, blanditiis recusandae? Asperiores ea pariatur, molestias, blanditiis iusto sunt quas ullam voluptatibus deleniti eius quasi quae!</p>
        </span>
    </div>
</div>