<div class="row g-0">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'básico'"
        [subtitleColor]="'#0F0D11'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="18"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#FF6347'"
        [innerStrokeColor]="'#F1F1F1'"
        [title]="'HTML'"
        [titleFontSize]="'2.5em'"
        [titleFontWeight]="'700'"
        [titleColor]="'f0f0f0'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'principiante'"
        [subtitleColor]="'#0F0D11'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="18"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#53a9ff'"
        [innerStrokeColor]="'#F1F1F1'"
        [title]="'CSS'"
        [titleFontSize]="'2.5em'"
        [titleFontWeight]="'700'"
        [titleColor]="'f0f0f0'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'Junior'"
        [subtitleColor]="'#0F0D11'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="18"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#ffcd42'"
        [innerStrokeColor]="'#F1F1F1'"
        [title]="'JavaScript'"
        [titleFontSize]="'2em'"
        [titleFontWeight]="'700'"
        [titleColor]="'f0f0f0'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'básico'"
        [subtitleColor]="'#0F0D11'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="18"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#ff2424'"
        [innerStrokeColor]="'#F1F1F1'"
        [title]="'Java'"
        [titleFontSize]="'2.7em'"
        [titleFontWeight]="'700'"
        [titleColor]="'f0f0f0'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'intermedio'"
        [subtitleColor]="'#0F0D11'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="18"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#F1F1F1'"
        [title]="'SQL'"
        [titleFontSize]="'2.8em'"
        [titleFontWeight]="'650'"
        [titleColor]="'f0f0f0'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="true"
        [subtitle]="'intermedio'"
        [subtitleColor]="'#0F0D11'"
        [subtitleFontSize]="'1.5em'"
        [outerStrokeWidth]="18"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#e316fe'"
        [innerStrokeColor]="'#F1F1F1'"
        [title]="'Inglés B2'"
        [titleFontSize]="'2.2em'"
        [titleFontWeight]="'700'"
        [titleColor]="'f0f0f0'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
</div>